<section>

	<div class="row">
		<div class="col-xs-12 col-sm-3 col-lg-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Panel de Navegación</h3>
				</div>
				<div class="panel-body" style="padding: 0px">
					<ul>
						<ul class="nav nav-pills nav-stacked navegation_options">
							<li>
								<a href="" routerLink="/review">Reseñas</a>
							</li>
							<li>
								<a href="" routerLink="/timeline">Línea de Tiempo</a>
							</li>
							<li>
								<a href="" routerLink="/posts">Publicaciones</a>
							</li>
							<li *ngIf="!loginService.isLoginValid()">
								<a href="" routerLink="/signin">Iniciar Sesión</a>
							</li>
						</ul>

					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 col-lg-7">
			<div class="panel panel-primary">
				<div class="panel-body content_gz">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quasi rerum, nam? Est quaerat optio fuga, voluptatum!
					Cupiditate veniam maiores, expedita, repellendus distinctio iusto dolorum saepe temporibus molestiae ab reprehenderit?
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-3">
			<div class="panel panel-primary">
				<div class="panel-heading news_feed_title">Noticias</div>
				<div class="panel-body news_feeds">

					<div style="text-align: center">
						<span *ngIf="postService.postsList == null || 
									 postService.postsList.length == 0" style="font-size: 18px">{{postMessages}}</span>
					</div>

					<div class="media" *ngFor="let post of postService.postsList; let i = index" [ngClass]="i % 2 != 0 ? 'news_feeds_content' : ''">
						<div class="media-left">
							<a href="#">
								<img class="media-object img-circle" [src]="post.UserDTO.UserDetail.ProfilePhoto == null ? 'assets/images/gzlogo.jpg' : utilsConstants.SERVER_PATH + post.UserDTO.UserDetail.ProfilePhoto"
								 alt="user_picture">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a href="" routerLink="/posts/detail/{{post.Id}}">
									{{post.Title}}
								</a>
								<p style="font-size: 11px;">
									<span *ngIf="post.UserDTO.UserDetail.Name != null">{{post.UserDTO.UserDetail.Name}} - </span>{{post.PostDetailDTO.DatePublished}}
								</p>
							</h4>
							<p>
								{{post.PostDetailDTO.Message | limitTo : 200}}
							</p>
						</div>

						<div style="text-align: center" *ngIf="loginService.isLoginValid()">
							<div class="btn-group btn-group-xs" role="group">
								<button class="btn btn-default">
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span> 5
								</button>
								<button class="btn btn-default">
									<span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span> 8
								</button>
								<button class="btn btn-default">
									<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> 2
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer" style="text-align: center;" *ngIf="loginService.isLoginValid()">
					<div class="btn-group btn-group-sm" role="group" aria-label="actions">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_post_modal" *ngIf="currentUser != null && currentUser.Role != coreConstants.EnumUserPermission.READ">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit_post_modal" *ngIf="currentUser != null && currentUser.Role != coreConstants.EnumUserPermission.READ">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_post_modal" *ngIf="currentUser != null && currentUser.Role != coreConstants.EnumUserPermission.READ">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>