<section class="events">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h3>MEDESPLAZO</h3>
            <img src="assets/images/parkour_events/medesplazo.jpg" class="img-responsive" />
            <button class="btn btn-default"
                    routerLink="/events">
                <i class="glyphicon glyphicon-arrow-left"></i>
                Regresar
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            MEDEsplazo es un evento internacional anual de tres días en los que se realizan talleres, charlas, clases, entrenamientos, exhibiciones de Parkour, Porrismo, diferentes muestras culturales, Slackline en diferentes puntos estratégicos de la cuidad de Medellín y sus alrededores como reserva naturales, municipios aledaños y diversas unidades deportivas del Valle de Aburrá.
        </div>
    </div>
</section>

<hr>

Id: {{id}}