/* You can add global styles to this file, and also import other style files */
body{
	background: #e8e8e8 !important;
	overflow-x: hidden;
}

.footer_gz{
	background: orange;
	display: block;
	padding: 1em;
	text-align: center;
}

.footer_gz strong{
	color: white;
}

.footer_gz .social_networks{
	margin: 15px 0 0 0;
}

.footer_gz .social_networks a{
	display: inline-block;
}

.footer_gz .social_networks a img{
	height: 35px;
	width: 35px;
}

.header_gz{
	background: white;
	width: 99.9%;
}

.header_gz figure{
	background: grey;
	height: 150px;
	width: 100%;
}

.header_gz figure img{
	height: 150px;
	width: 100%;
}

section{
	display: block;
	padding: 0.5em;
}

.navegation_options{
	margin-left: -40px;
}

.navegation_panel_item_selected{
	background: #eee;
}

.content_gz{
	min-height: 500px;
}

.news_feed_title{
	font-size: 17px;
	text-align: center;
}

.news_feeds{
	font-size: 13px;
	height: 500px;
	margin: 3px !important;
	overflow-y: auto;
	padding: 0 !important;
}

.news_feeds img{
	height: 40px;
	width: 40px;
}

.news_feeds_content{
	background: #e4e4e4;
}

.news_feeds p{
	text-align: justify;
}

.table_post_feeds tbody, .table_post_feeds thead { display: block; }

.table_post_feeds  tbody {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table_post_feeds tbody td, .table_post_feeds  thead th {
    width: 80px;
}

.table_post_feeds thead th:last-child {
    width: 55%;
}

.table_post_feeds tbody td:last-child{
	text-align: justify;
	width: 55%;
}

.login{
	background: white;
	text-align: center;
	margin: 0 auto;
}

.user_profile_options{
	padding: 0.2em;
	text-align: center;
}

.center_video{
	background: grey;
	height: 350px;
}

.middle_videos{
	background: grey;
	height: 150px;
}

.about, .videos, .events, .contact, .review, .timeline, .publication{
	background: white;
}

.events .thumbnail img{
	max-height: 150px;
}

.events .thumbnail{
	min-height: 400px;
	max-height: 400px;
	overflow-y: auto; 
}

.events .thumbnail .caption p{
	text-align: justify;
}

.user_account_options li{
	display: block;
	text-align: left;
}

.user_quick_actions li{
	display: block;
	text-align: left;
}

.gravedad-zero-error{
	color: red;
}

@media screen and (max-width: 618px) {
	.header_gz .logo figure{
		width: 100%;
	}
}

.media {
	margin-top: 6px !important;
	padding: 5px 0 5px 0 !important;
}