<section class="videos">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wfh2dBWRMSk"></iframe>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Opciones</h3>
                </div>
                <div class="panel-body" style="padding: 0px">
                    <ul>
                        <ul class="nav nav-pills nav-stacked navegation_options">
                            <li><a data-toggle="modal" data-target="#upload_new_video_modal">Cargar nuevo vídeo</a></li>
                            <li><a data-toggle="modal" data-target="#edit_video_modal">Editar vídeo</a></li>
                            <li><a data-toggle="modal" data-target="#delete_video_modal">Eliminar vídeo</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="center-block">
                <h4>
                    Especial de Navidad
                </h4>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3q4es97LrvI"></iframe>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DnEg3OtS6vg"></iframe>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZRHd3tNv_YQ"></iframe>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CxKIfJ3RIuM"></iframe>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gaGkmSVnm_A"></iframe>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WCHXZVu58TI"></iframe>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QcOSu3dMIDE"></iframe>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/auRGCCzISNY"></iframe>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <br><br>
        </div>
    </div>
</section>