<section>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation"><a href="" routerLink="/admin">Inicio</a></li>
                        <li role="presentation" routerLinkActive="active"><a href="" routerLink="/admin/profile">Mi Perfil</a></li>
                        <li role="presentation" routerLinkActive="active"><a href="" routerLink="/admin/messages">Mensajes <span class="badge">3</span></a></li>
                    </ul>

                    <hr>

                    <router-outlet></router-outlet>
				</div>
			</div>
		</div>
    </div>
</section>