<section class="events">
    
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10">
            <h2>Eventos Nacionales e Internacionales de Parkour</h2>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2" style="margin-top: 15px;">
            <button class="btn btn-default"
                    data-toggle="modal"
                    data-target="#new_event_modal">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-minus"></i>
            </button>
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
    </div>

    <div class="row">
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            
            <div class="thumbnail">
                <img src="assets/images/parkour_events/medesplazo.jpg" class="events_photos_slider" />
                <div class="caption">
                    <h3 class="text-center">MEDESPLAZO</h3>
                    <h5 class="text-center">Categoría: Internacional</h5>
                    <p class="text-justify">
                        MEDEsplazo es un evento anual de tres días en los que se realizan talleres, charlas, clases, entrenamientos y exhibiciones de Parkour y Slackline en diferentes puntos estratégicos de la cuidad de Medellín y sus alrededores como reserva naturales, municipios aledaños y diversas unidades deportivas del Valle de Aburrá.
                    </p>
                    <a href="" class="btn btn-success" routerLink="/events/detail/{{id}}">Continuar Leyendo</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="thumbnail">
                <img src="assets/images/parkour_events/pkfetero.jpg" class="events_photos_slider" />
                <div class="caption">
                    <h3 class="text-center">PKFETERO</h3>
                    <h5 class="text-center">Categoría: Nacional</h5>
                    <p>
                        El Pkfetero es un encuentro de practicantes de Parkour, Freerunning, Add, creado por Urban Ninjas Armenia (Parkour Armenia) y Smok3 (Parkour Pereira) para unir los lazos de fraternidad entre los trazadores y difundir nuestra filosofía y concepto de vida a través del arte del desplazamiento, con la excusa de realizar un...
                    </p>
                    <a class="btn btn-success">Continuar Leyendo</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="thumbnail">
                <img src="assets/images/parkour_events/ajisie.jpg" class="events_photos_slider" />
                <div class="caption">
                    <h3 class="text-center">AJISIE</h3>
                    <h5 class="text-center">Categoría: Nacional</h5>
                    <p>
                        EL AJI'SIE : Es un encuentro nacional de practicantes de Método Natural, Arte del desplazamiento y Parkour organizado por la gente de Ville Blanche (Popayán) y Sifakas (Cali), es una RT que busca fomentar la unidad entre los practicantes, viendo la buena relación de nuestros grupos y las posibilidades de construir cono...
                    </p>
                    <a class="btn btn-success">Continuar Leyendo</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="thumbnail">
                <img src="assets/images/parkour_events/popajump.jpg" class="events_photos_slider" />
                <div class="caption">
                    <h3 class="text-center">POPAJUMP</h3>
                    <h5 class="text-center">Categoría: Nacional</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, laudantium. Eum perspiciatis alias similique nulla, iure perferendis porro eligendi quae ipsum sint sapiente incidunt, earum nostrum cum. Iste, soluta, sed.
                    </p>
                    <a class="btn btn-success">Continuar Leyendo</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="thumbnail">
                <img src="assets/images/parkour_events/parkosta.jpg" class="events_photos_slider" />
                <div class="caption">
                    <h3 class="text-center">PARKOSTA</h3>
                    <h5 class="text-center">Categoría: Nacional</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, laudantium. Eum perspiciatis alias similique nulla, iure perferendis porro eligendi quae ipsum sint sapiente incidunt, earum nostrum cum. Iste, soluta, sed.
                    </p>
                    <a class="btn btn-success">Continuar Leyendo</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            
            <div class="thumbnail">
                <img src="assets/images/parkour_events/red-bull-art-of-motion-event-logo-2013.png" class="events_photos_slider" />
                <div class="caption">
                    <h3 class="text-center">RedBull Art Of Motion</h3>
                    <h5 class="text-center">Categoría: Internacional</h5>
                    <p class="text-justify">
                        Evento internacional
                    </p>
                    <a href="" class="btn btn-success" routerLink="/events/detail/{{id}}">Continuar Leyendo</a>
                </div>
            </div>
        </div>

    </div>
</section>

<router-outlet></router-outlet>