<div class="row">

    <div style="text-align: center">
        <span *ngIf="postService.postsListByPostType == null || 
                             postService.postsListByPostType.length == 0" style="font-size: 18px">{{postMessages}}</span>
    </div>

    <div class="col-sm-5 col-md-3" *ngFor="let post of postService.postsList">
        <div class="thumbnail">
            <img [src]="post.PostDetailDTO.PhotoUrl != null ? utilsConstants.SERVER_PATH + post.PostDetailDTO.PhotoUrl : utilsConstants.IMAGES_URLS.GZ_USER_PROFILE">
            <div class="caption">
                <h3>{{post.Title}}</h3>
                <p>
                    <a href="#" class="btn btn-default" role="button" routerLink="/posts/detail/{{post.Id}}">
                        Ver
                    </a>
                </p>
            </div>
        </div>
    </div>

</div>