<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <a class="thumbnail">
                            <img src="assets/images/gzlogo.jpg" alt="GZLogo">
                        </a>

                        <h2>Error 404 - Página No Encontrada</h2>
                    </div>
                </div>
            </div>
        </div>
      </div>
	</div>
</div>